@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.3px;
}

.home {
  background: linear-gradient(216deg, #27c0ef 13.84%, #00a8db 83.53%);
  width: 100%;
  height: 100vh;
}

.container-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-nav {
  width: 40%;
}

.menu-nav ul {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  cursor: pointer;
  position: static;
  pointer-events: auto;
  flex-direction: row;
}

.button {
  color: white;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-color: blue;
  background-color: blue;
  cursor: pointer;
}

h1 {
  color: #fff;
  font-family: DM Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px; /* 118.75% */
  text-align: left;
}

h4 {
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.grupo-6 {
  color: #00a8db;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
  display: inline;
  margin-right: 50px;
  padding: 18px 35px 18px 35px;
}
.vector-1 {
  position: absolute;
  margin-top: -70px;
}

.arrow-1 {
  position: relative;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.grupo-10 {
  width: 738px;
  height: 461px;
  position: absolute;
}

.display-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.business-imag {
  width: 55%;
  padding-top: 20px;
}

.texto-home {
  width: 45%;
  padding-left: 50px;
  padding-top: 20px;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.align-center {
  align-items: center;
}

.partners {
  justify-content: space-around;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.img-principal {
  margin-right: 812px;
  margin-left: 100px;
  margin-top: 100px;
  width: 494px;
  height: 550.854px;
  flex-shrink: 0;
}

.texto-principal {
  width: 390px;
  color: #034d82;
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 144.444% */
  letter-spacing: 0.3px;
  text-align: start;
  margin-left: 150px;
  margin-top: 100px;
}

.texto-secundario {
  width: 485px;
  height: 96px;
  flex-shrink: 0;
  color: #90a3b4;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  letter-spacing: 0.3px;
  margin-left: 150px;
  margin-top: 50px;
}

.texto-tercero {
  width: 485px;
  height: 282px;
  flex-shrink: 0;
  stroke-width: 1.5px;
  stroke: #04aadd;
  margin-left: 150px;
  margin-top: 10px;
  color: #04aadd;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.seccion-mac {
  margin-top: 100px;
}

.lista-mac {
  margin-left: 150px;
}

.img-mac {
  width: 699.954px;
  height: 410.39px;
  flex-shrink: 0;
  margin-top: 100px;
}

.seccion-hashtag {
  background: #effbff;
}

.titulo-hashtag {
  color: #034d82;
  text-align: center;
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 144.444% */
  letter-spacing: 0.3px;
  padding-top: 150px;
}

.parrafo-hashtag {
  color: #8ea9c1;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  letter-spacing: 0.3px;
  margin: 430px;
  margin-top: 50px;
}

.cuadros-hashtag {
  /*width: 1160px;
  height: 337px;
  flex-shrink: 0;*/
  margin-left: 300px;
  margin-right: 300px;
  border: 8px;
}

.hashtag-1 {
  width: 259px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  color: #034d82;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
  letter-spacing: 0.2px;
}

.hashtag-texto {
  width: 198px;
  color: #8ea9c1;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  letter-spacing: 0.3px;
}
